body {
    background-color: black;
}

nav img {
    width: 40px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

nav > ul > li {
    background-color: salmon;
    width: 100%;
    text-align: center;
}


nav > ul > li:hover {
    background-color: black (76, 76, 139);
}

.dropdown {
    position: relative;
}

.dropdown ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 75;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

.dropdown:hover ul {
    opacity: 100%;
    visibility: visible;
    top: 0.5s;
}

.dropdown ul li {
    background-color: lightsalmon;
    padding: 12px;
    width: 150%;
}


main img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 50% 25%;
}

.textandImage {
    align-items: left;
    display: flex;
    margin: 24px;
}

.textBlock {
    flex: 2;
    margin: 24px;
    color: white;
    font-family: fantasy;
    font-weight: 100;
}

.imageBlock {
    flex: 1;
}

.imageBlock img {
    border-radius: 24px;
    width: 30%;
    float: left;
}


.textBlock img {
    border-radius: 24px;
    width: 30%;
    float: right;
}

@media screen and (max-width: 768px) {
    nav > ul {
        flex-direction: column;
    }
}

h2 {
    color: white;
}
