#main {
    background-color: lavender;
    padding: 30px;
    margin: 50px;
}

#content {
    background-color: blueviolet;
    text-align: left;
    border: 5px solid; 
    padding: 8px;
    margin: 2px
}

    
 
