#hero {
    background-image: url("../assets/images/cherryblossom.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 48px;
    text-align: center;
}
