body {
    margin: 0;
}

#hero1 {
    background-image: url("../assets/images/cherryblossoms.jpg");
    background-size: cover;
    background-position: left center;
    height: 500px;
    position: relative;
}

#hero1:hover

#hero1 h1 {
    position: absolute;
    top: 60px;
    left: 60px;
    font-family: cursive;
    font-size: 60px;
    color: lavender;
}
p {
    font-size: 20px;
    margin: 48px;
}

#hero2 {
    color: skyblue;
    height: 100vh;
    background-image: url(../assets/images/cherryblossoms2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero2 h2 {
    font-family: cursive;
    font-size: 60px;
}

#hero2 h3 {
    font-family: cursive;
    font-size: 48px;
}

#hero3 h2,
#hero3 h2 {
    font-family: cursive;
    font-size: 48px;
}

#hero3 h3,
#hero3 h3 {
    font-family: cursive;
    font-size: 48px;
}

#hero3 {
    background-image: url("../assets/images/cherryblossoms3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

#hero3 h2 {
    margin-top: 60px;
}

#hero3 h3 {
    padding-bottom: 60px;
}