body {
    margin: 0;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/images/Resident\ evil\ 4.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: red;
    font-family: monospace;
}